*{
  font-family: "Georgia";
}

body{
  margin: 0px;
}

.Back_Wrapper {
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 0px 20px;
    background: #313131;
}

.Header{
  position: relative;
  border-top: 5px #a7c253 solid;
  height: 96px;
  width: 960px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

.Header_Container{
  position: absolute;
  width: 918px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px #a7c253 solid;
  box-sizing: border-box;
}

#header_logo{
  position: absolute;
  width: 10%;
  height: 90%;
  background: url(images/Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .5s ease;
}

#header_logo > a{
  position: absolute;
  width: 100%;
  height: 100%;
}

#header_logo:hover{
  transform: scale(.9);
}

.Navigation_Menu{
  position: absolute;
  height: 100%;
  right: 0;
}

.Navigation_Menu > a {
  display: block;
  float: left;
  text-decoration: none;
  color: #505050;
  height: 96px !important;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0px 20px;
}

.Navigation_Menu > a:hover {
  background: #a7c253;
  color: white;
}

.Vertical_Center{
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.Main_Wrapper{
  position: relative;
  display: inline-block;
  width: 920px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0px 20px 30px;
}

.Header_Motto{
  text-align: center;
  display: block;
  margin: 43px 10%;
  font-style: italic;
  font-size: 22px;
  color: rgb(102,102,102);
  font-family: "Georgia";
  text-align: center;
}

.Slider_Container{
  position: relative;
  width: 920px;
  height: 400px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: visible;

}

.Slider_Button{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: black;
  text-align: center;
  cursor: pointer;
  border: 2px #a7c253 solid;
  color: #a7c353;
  line-height: 46px;
  font-size: 30px;
}

#prev_button{
  left: 10px;
  top: 42%;
  transform: translateY(-50%);
  background: url(images/Left%20Arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

#next_button{
  right: 10px;
  top: 42%;
  transform: translateY(-50%);
  background: url(images/Right%20Arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

.Slider_Row{
  display: inline-block;
  position: absolute;
  height: 350px;
  transition: all .5s ease;
  transform: translateX(0px);
}

.Slider_Item{
  position: relative;
  width: 920px;
  height: 350px;
  float: left;
  color: white;
  text-align: center;
  background: #313131;
}

.Slider_Info{
  position: absolute;
  right: 60px;
  width: 350px;
  bottom: 20px;
}

.Slider_Header{
  width: 330px;
  height: 25px;
  background-color: #a7c353;
  font-size: 22px;
  color: rgb(255,255,255);
  font-family: "Georgia";
  text-align: center;
  padding: 10px;
}

.Slider_Description{
  width: 330px;
  height: 48px;
  background-color: #ffffff;
  font-size: 13px;
  color: rgb(153,153,153);
  font-family: "Georgia";
  margin-top: 10px;
  text-align: left;
  padding: 10px;
}

.Pagination_Buttons{
  position: absolute;
  left: 50%;
  transform: translate(-50%,1800%);
  display: inline-block;
  max-height: 20px;
}

.Pagination_Item{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #a7c253;
  border: 3px #a7c253 solid;
  float: left;
  transition: all .25s ease;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.Pagination_Item.active{
  background: white;
  transform: scale(1.2);
}

.About {
    display: inline-block;
    width: 280px;
    float: left;
    margin-right: 40px;
}

.Services {
    display: inline-block;
    width: 280px;
    float: left;
    margin-right: 40px;
}

.Testimonials {
    display: inline-block;
    width: 280px;
    float: left;
}

.Information {
    display: inline-block;
    border-top: 1px #e2e2e2 solid;
    margin-top: 25px;
    padding-top: 37px;
    color: rgb(102,102,102);
}

.About_Header {
    font-size: 22px;
}

.Image_Container {
    width: 270px;
    height: 140px;
    background: white;
    padding: 5px;
    margin-top: 25px;
    border: 1px #e2e2e2 solid;
}

.About_Description {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
}

.Redirect {
    color: #a7c353;
    font-size: 14px;
    float: right;
    cursor: pointer;
}

.Services_Header {
    font-size: 22px;
    margin-bottom: 25px;
}

.Image_Container_Service {
    height: 64px;
    width: 64px;
    float: left;
    margin-right: 17px;
    background: #313131;
}

.Service_Item {
    height: 94px;
}


.Service_Description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
    display: inline-block;
    width: calc(280px - 81px);
}

.Service_Title {
    letter-spacing: 0.5px;
    display: inline-block;
}

.Testimonials_Header {
    font-size: 22px;
    margin-bottom: 16px;
}

.Testimonial_Item {
    margin-bottom: 19px;
    display: inline-block;
}

.Testimonials img {
  margin-right: 11px;
  float: left;
}

.Testimonial_Title {
    padding-top: 12px;
}

.Light {
}

.Testimonial_Description {
    float: left;
    margin-top: 7px;
    font-size: 14px;
    line-height: 18px;
}

.Dummy_Image {
    position: relative;
    width: 100%;
    height: 100%;
    background: #313131;
}


footer {
    position: relative;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    background: #313131;
    color: white;
}

.Footer_Column {
    position: relative;
    width: 23.7%;
    float: left;
    box-sizing: border-box;
    margin-right: 1.5%;
}

.Footer_Column:nth-child(4) {
    margin-right: 0px !important;
}

.Footer_Row:nth-child(1) {
    border-top: 0px;
    margin-bottom: 12px;
}

.Footer_Row {
    display: inline-block;
    width: 100%;
    border-top: 1px #3a3a3a solid;
}

.Left {
    float: left;
}

.Right {
    position: absolute;
    float: right;
    right: 0px;
}

.Footer_Copyright {
    display: inline-block;
    padding: 20px 0px;
    font-size: 13px;
    color: #969696;
}

.Column_Header {
    margin-top: 37px;
    padding-bottom: 11px;
    border-bottom: 1px #3a3a3a solid;
    margin-bottom: 23px;
}

.Details {
    font-size: 13px;
    color: #989898;
    margin-bottom: 4px;
}

.Company_Phone.Details {
    margin-top: 16px;
}

.Company_Office_Hours_Header.Details {
    margin-top: 18px;
    font-weight: bolder;
}


footer a {
  float: none !important;
  text-decoration: none;
}

.Social_Logo {
    width: 32px;
    height: 32px;
    float: left;
    background: #3a3a3a;
    border-radius: 35px;
}

.Social_Item {
  display: inline-block;
  line-height: 35px;
  border-bottom: 1px #3a3a3a solid;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.Social_Logo {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #3a3a3a !important;
  margin-right: 5px;
}

.Linkedin .Social_Logo {
  background: url(images/icon-linkedin.png);
}

.Twitter .Social_Logo {
  background: url(images/icon-twitter.png);
}

.Pinterest .Social_Logo {
  background: url(images/icon-pinterest.png);
}

.RSS .Social_Logo {
  background: url(images/icon-rss.png);
}

.Blog_Item {
  color: #989898;
  margin-top: -3px;
  margin-bottom: 43px;
}

.Blog_Item a{
  float: right !important;
  margin-top: 10px;
}

.Blog_Info {
    font-size: 11px;
    margin-bottom: 10px;
}

.Blog_Title {
    margin-bottom: 3px;
}

.Blog_Description {
    font-size: 13px;
    line-height: 18px;
}

footer form input, footer form textarea {
  background: #3a3a3a;
  border: none;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer form input::placeholder, footer form textarea::placeholder {
  color: #969696;
}

textarea {
    height: 110px;
    resize: none;
}

input[type="submit"] {
    color: #313131;
    background: #a7c353;
    font-size: 14px;
    font-weight: bolder;
    width: 80px;
    text-transform: uppercase;
}
